# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Claude Code local settings
.claude/

# SPM
.build/
.swiftpm/

# CocoaPods
Pods/

# Archives
*.xcarchive
